.cool {
    text-align:center;
    font-family:courier;
    color:rgb(129, 131, 133);
    padding: 55px;
}
h2 {
    text-align:center;
    font-family:courier;
    color:red;
    padding: 55px;
}
body {
     background-image: url("cat.jpg");
     background-repeat: no-repeat;
     background-position: right top;
     background-size: 70%;
     font-family:courier;
     color:rgb(129, 131, 133);
}
