.cool {
    text-align:center;
    font-family:courier;
    color:rgb(255, 255, 255);
    padding: 55px;
}
h2 {
    text-align:center;
    font-family:courier;
    color:yellow;
    padding: 55px;
}
body {
     background-image: url("spacecat.jpg");
     background-size: 110%;
     font-family:courier;
     color:rgb(255, 255, 255);
}
